<div>
    <button><a routerLink= "/registro" class="btn btn-lg btn-primary">Registrarse</a></button>
    <button><a routerLink= "/admin" class="btn btn-lg btn-primary">Panel de Admin</a></button>
    <button><a routerLink= "/donante" class="btn btn-lg btn-primary">Panel de Donante</a></button>
    <button><a routerLink= "/voluntario" class="btn btn-lg btn-primary">Panel de Voluntario</a></button>
</div>
<div>
    <h3>¿Quiénes somos?</h3>
    <p>
        Somos una Organización de la Sociedad Civil (OSC), que tiene como objetivo disminuir el hambre y la desnutrición a través del recupero de alimentos.
        Nacimos como Asociación Civil sin fines de lucro en el año 2000, como el primer Banco de Alimentos del país.
        Somos socios fundadores de la Red Argentina de Bancos de Alimentos, que nuclea a otros 16 Bancos constituidos en el país y 2 en formación.
        Defendemos el Derecho Humano a una alimentación saludable, logrado a través del esfuerzo de nuestro staff, voluntarios y la solidaridad de empresarios, productores y donantes.
    </p>
</div>
