<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/inicio">Banco Alimentario de La Plata</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a id="signin_btn" routerLink="/login" routerLinkActive="active" class="btn">Iniciar Sesión</a></li>
              <li><a id="signout_btn" routerLink="/logout" routerLinkActive="active" class="btn">Cerrar Sesión</a></li>
          </ul>
      </div>
  </div>
</nav>
